<IfModule mod_rewrite.c>
    Header set Access-Control-Allow-Origin "*"
    Options -Multiviews
    RewriteEngine On
    RewriteBase /appointment-reservation-api
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^.(.+)$ index.php?url=$0 [QSA,L]
</IfModule>